@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap");
$text-color: #f8f9fa;

body {
  background-color: #252d40;
}

.jumbotron {
  background-color: #353c51;

  .wrap {
    display: flex;
  }
}

.header-icon {
  height: 6rem;

  g {
    fill: #f8f9fa;
    cursor: pointer;

    :hover {
      opacity: 0.75;
    }
  }
}

.card-wrap {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 5%;
}

.container {
  width: 33%;
}

.not-found-text {
  color: $text-color;
  text-align: center;
  font-size: 2.25rem;
  margin-top: 5%;
}

.pagination {
  display: flex;
  justify-content: center;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.search-button {
  height: 5%;
  margin: 0 0 1% 1%;
}

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 1%;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.6s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.5;
  }
}

$breakpoint-tablet: 1024px;
@media (max-width: $breakpoint-tablet) {
  .container {
    width: 49%;
  }
  .not-found-text {
    font-size: 1.75rem;
  }
}

$breakpoint-mobile-large: 568px;
@media (max-width: $breakpoint-mobile-large) {
  .container {
    width: 100%;
  }
  .header-icon {
    height: 3rem;
  }
  .not-found-text {
    font-size: 1.55rem;
  }
  .card-wrap {
    margin-bottom: 10%;
  }
}
