@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

body {
  background-color: #252d40;
}

.jumbotron {
  background-color: #353c51;

  .title {
    font-family: 'Poppins', sans-serif;
    color: #f8f9fa;
    font-size: 4rem;
  }
}

.card-wrap {
  display: flex;
  flex-flow: row wrap;
}

.container {
  width: 33%;
}

.loading-text {
  color: #dffaf1;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.search-button {
  height: 5%;
  margin: 0 0 1% 1%;
}

$breakpoint-tablet: 1024px;
@media (max-width: $breakpoint-tablet) {
  .container {
    width: 49%;
  }
}

$breakpoint-mobile-large: 568px;
@media (max-width: $breakpoint-mobile-large) {
  .container {
    width: 100%;
  }
}